body {
  background: #ecf0f1;
  margin: 0px;
  padding-top: 70px; }

header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #2c3e50;
  top: 0px; }
  header .column {
    float: left;
    width: 25%;
    line-height: 50px;
    text-align: center; }
    header .column label {
      font-family: Arial;
      font-weight: bold;
      color: #fff;
      font-size: 12px; }
      header .column label input {
        display: inline-block;
        width: 40px;
        border: 0px;
        padding: 6px 4px; }
      header .column label select {
        margin-left: 10px;
        padding: 6px 4px;
        border: 0;
        width: 140px; }
      header .column label button {
        padding: 6px 4px;
        color: #fff;
        background: #e74c3c;
        border: 0px;
        display: inline-block;
        margin-left: 10px; }

.row {
  width: 1040px;
  margin: 0 auto; }
  .row.container {
    background: #bdc3c7; }
  .row .pedalboard {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center; }
    .row .pedalboard img.board {
      max-width: 100%;
      margin: 20px; }
    .row .pedalboard .pedal {
      position: absolute;
      left: 10px;
      top: 10px;
      max-width: 100% !important;
      opacity: 0; }
      .row .pedalboard .pedal.custom {
        background: #2b2b2b; }
      .row .pedalboard .pedal.active {
        opacity: 1; }

  .ui-dialog.active {
    position: fixed !important;
    top: initial !important;
    bottom: 0px !important;
    overflow: hidden !important;
    height: 36px !important;
  }

  .ui-dialog.active .ui-icon {
    text-indent: 0 !important;
    font-size: 0px !important;
  }

  .ui-dialog.active .ui-button-icon {
    text-indent: 0 !important;
    font-size: 14px !important;
    background: none !important;
  }

  .ui-dialog.active .ui-button-icon::after {
    content: "▲";
  }
