header
	nav
		.row
			.large-12.columns
				a.account.float-left(href="/conta")
					i.fa.fa-user
					|	MINHA CONTA
				a.float-right(href="/ajuda") AJUDA
				a.float-right(href="/ajuda") INFORMAÇÕES
				a.float-right(href="/ajuda") FAQ
				a.float-right(href="/ajuda") VÍDEOS
				a.float-right(href="/ajuda") ARTISTAS
				a.float-right(href="/ajuda") ESPECIFICAÇÕES
				a.float-right(href="/ajuda") SOBRE
	
	.search-bar
		.row
			a.logo.large-2.columns(href="/")
				include logo
			form.search.large-7.columns
				input(type="search", placeholder="PROCURAR")
				button(type="submit")
					i.fa.fa-search
			span.hello.large-2.columns Olá, visitante.
			a.login.large-1.columns(href="/login")
				strong Entrar
menu
	.row
			a(href="/") HOME
			a(href="/categoria") PEDALBOARD
			a(href="/categoria") ACESSÓRIOS
			a(href="/categoria") FOTOS
			a(href="/categoria") VÍDEOS
			a(href="/categoria") ARTISTAS