div#slider
	.scene
		.row
			.large-2.column
			.large-8.column
				.wrapper
					.info
						h2 HRS50 + SOFTBAG
						h3.price
							| 12x de R$ 53,25
							br
							small
								| ou R$ 500,00 à vista
					.prod
						img(src="/assets/img/bn-1.png", alt="")
			.large-2.column
