footer {
	
	background: $black;
	margin-top: 30px;
	$border: darken($grey, 12);

	.columns {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		.column {
			width: 30%;
			a {
				color: lighten($grey, 16);
			}
			.link-allianz {
				font-size: 1.4em;
				color: white;
				line-height: 1.2em;
				padding-bottom: 15px;
				padding-right: 40px;
				display: inline-block;
				border-bottom: 1px solid $border;
			}

			&:nth-child(2) {
				border-left: 1px solid $border;
				border-right: 1px solid $border;
				padding: 32px 40px;
				li {
					list-style-type: none;
					font-size: 1.1em;
					a {
						display: block;
						border-top: 1px solid $border;
						padding: 10px 10px;
					}
					&:last-child {
						a {
							border-bottom: 1px solid $border;
						}
					}
				}
			}
		}
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		font-size: 1em;
		border-top: 1px solid $border;
		margin-top: 20px;
		padding: 30px 0px;
		&, a {
			color: white;
		}
	}

}